.hardshell {
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera */
    white-space: nowrap; /* Chrome */
    word-wrap: break-word; /* IE */
}

.user_cell {
    display: inline-block;
    font-size: 9pt;
    border: 1px solid #a1a1a1;
    padding: 4px 4px; 
    background: #eeeeee;
    border-radius: 25px;
    margin: 2px;
}

tr.right {
    text-align: right;
}

td.right {
    text-align: right;
}

td.link {
    cursor: pointer;
}

img.round-64 {
    object-fit: cover;
    border-radius: 50%;
    width:64px;
    height:64px;
}

div.user-console {
    display: inline-block;
    text-align: center;
    margin: 5px;
}

div.input-group {
    margin-bottom:5px;
}

span.reputation {
    display: inline-block;
    font-size: 10px;
    line-height: 16px;
    padding: 0 3px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #f8f8f8;
    border-radius: 50%;
    border: 1px solid #dadada;
    color: #8a8a8a; }
span.receiver-id {
    font-weight: 600;
    font-size: 11px;
    color: #4877bd;
}
span.receiver-sbd {
    font-size: 11px;
    color: #383838;
    font-weight: 600;
}

button.btn-rawmodal {
    font-size: 7pt;
    margin-left: 5px;
    padding: 2px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }
  